<script>
	history.pushState({}, '', 'admin?entite={{ entite }}&action={{ entite_action }}')
</script>

<link rel="stylesheet" href="css/main.css">

<div class="section-titre">
	<h1>Bienvenue dans votre interface d'administration, le menu de gauche vous permet, entre autre, de...</h1>
	<div class="carteIndex_Contenant">
		<article class="carteIndex dotted-line surligne contour">
			<div class="rond-bleu gradient">
				<i class="fas fa-shopping-cart icone-achat"></i>
			</div>
			<h2 class="h1">Profil</h2>
			<p>Voir les information sur votre profil</p>
			{# <button class="bouton">En savoir plus...</button> #}
		</article>

		<article class="carteIndex dotted-line surligne contour">
			<div class="rond-bleu gradient">
				<i class="fas fa-money-bill-wave icone-achat"></i>
			</div>
			<h2 class="h1">Enchères</h2>
			<p>Créer, modifier et visualiser vos enchères</p>
			{# <button class="bouton">En savoir plus...</button> #}
		</article>

		<article class="carteIndex dotted-line surligne contour">
			<div class="rond-bleu gradient">
				<i class="fas fa-lightbulb icone-achat"></i>
			</div>
			<h2 class="h1">Offres</h2>
			<p>Voir l'états des offres sur vos enchères</p>
			{# <button class="bouton">En savoir plus...</button> #}
		</article>
	</div>
</div>
