

  <footer class="footer">
    <div>
      <h1>Stampee</h1>
      LA plateforme #1 de transaction de timbres
      <p><img src="./assets/images/paiement.webp" alt=""></p>
    </div>

    <div>
      <div class="h4">Compagnie</div>
      <ul>
        <li><a href="#">A propos</a></li>
        <li><a href="#">Carrière</a></li>
        <li><a href="#">Marque</a></li>
        <li><a href="#">Conditions</a></li>
      </ul>
    </div>

    <div>
      <div class="h4">Contact</div>
      <ul>
        <li><a href="#">Équipe</a></li>
        <li><a href="#">API</a></li>
        <li><a href="#">Confidentialité</a></li>
        <li><a href="#">Politiques</a></li>
      </ul>
    </div>
  </footer>
