<!DOCTYPE html>
<html lang="fr">

<head>
  <link rel="stylesheet" href="css/main.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Stampee est une plateforme de vente aux enchères de timbres en ligne.">
  <meta name="keywords" content="timbre, vente, enchère, collection, philatélie">
  <title>Stampee - Bienvenue</title>
</head>

<body>
  <header class='header'>
    <nav id="navigation" aria-label="Menu principal">
      <div class="h1">Stampee</div>
      <a class="active" href="index.html">Accueil</a>
      <div class="menu-deroulant" aria-haspopup="true">
        <a class="" href="catalogue.html?t=enchere">Enchères</a>
        <div>
          <a href="catalogue.html?t=active">Actives</a>
          <a href="catalogue.html?t=archive">Archivées</a>
          <a href="catalogue.html?t=choix">Choix du Lord</a>
          <a href="catalogue.html?t=sugg">Nos suggestions pour vous</a>
        </div>
      </div>
      <a href="#">A propos du Lord</a>
      <a class="cote-droit secondaire" href="#">Espace Membre</a>
      <div class="cote-droit">
        <form name="frmRechercheTop" action="/rechercher" method="get" class="recherche-form"
          aria-label="Rechercher items">

          <input type="text" name="q" class="recherche-input" placeholder="Rechercher..."
            aria-label="Champ de recherche">
          <button type="submit" class="recherche-boutton" aria-label="Bouton de recherche">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </nav>

    <div class="entete-hero">
      <div>
        <div class="h1">Nous sommes LA plateforme #1 de transaction de timbres</div>
        <p>Trouvez et achetez votre timbre en quelques click</p>

        <a class="bouton gros" href="catalogue.html" alt="Découvrez en plus..." aria-label="Découvrez en plus">
          <span class="h4">Découvrez les nouveaux items et améliorez votre collections</span>
        </a>
      </div>
    </div>
  </header>


  {{ include(templateMain) }}


  <div class="section-lord-mission voirBackgroundImage">
    <div class="left-section">
      <div class="h4">À propos de Lord Stampee</div>
      <p>
        Lord Stampee, le fondateur de notre plateforme d'enchères de timbres,
        est un philatéliste passionné avec une admiration débordante pour
        l'art et l'histoire encapsulés dans chaque timbre. Sa passion pour les
        timbres est née lors de ses voyages mondiaux où il a commencé à
        collectionner des timbres de chaque pays qu'il visitait. Il est connu
        pour son œil aguerri pour les détails et son amour pour le partage de
        sa passion avec d'autres. Aujourd'hui, il met cette passion au service
        de la communauté philatéliste en fournissant une plateforme où les
        collectionneurs peuvent acheter et vendre des timbres rares et
        précieux.
      </p>
      <div class="h4">Notre mission</div>
      <p>
        Chez Lord Stampee, notre mission est de créer une communauté globale
        de passionnés de timbres, où chacun peut découvrir, acheter et vendre
        des timbres de collection. Nous nous engageons à fournir une
        plateforme fiable et transparente pour les enchères de timbres,
        soutenue par une technologie de pointe pour assurer la sécurité et
        l'équité de chaque transaction. Nous croyons que chaque timbre a une
        histoire à raconter et nous nous efforçons de donner à ces histoires
        la plateforme qu'elles méritent.
      </p>
    </div>
    <div class="right-section">
      <video controls>
        <source src="./assets/vid/Lord.mp4" type="video/mp4">
        <track src="captions_en.vtt" kind="captions" srclang="en" label="english_captions">

        Votre navigateur ne supporte pas les vidéos.
      </video>
    </div>
  </div>

  <div class="entete-hero" role="banner">
    <a class="bouton gros" href="catalogue.html#nouveauxitems" aria-label="Découvrez les nouveaux items">
      <span class="h4">Découvrez les nouveaux items et améliorez votre collections</span>
    </a>
  </div>

  <footer class="footer">
    <div>
      <h1>Stampee</h1>
      LA plateforme #1 de transaction de timbres
      <p><img src="./assets/img/paiement.webp" alt=""></p>
    </div>

    <div>
      <div class="h4">Compagnie</div>
      <ul>
        <li><a href="#">A propos</a></li>
        <li><a href="#">Carrière</a></li>
        <li><a href="#">Marque</a></li>
        <li><a href="#">Conditions</a></li>
      </ul>
    </div>

    <div>
      <div class="h4">Contact</div>
      <ul>
        <li><a href="#">Équipe</a></li>
        <li><a href="#">API</a></li>
        <li><a href="#">Confidentialité</a></li>
        <li><a href="#">Politiques</a></li>
      </ul>
    </div>
  </footer>

  <datalist id="liste-pays">
    <option value="Canada"></option>
    <option value="Argentine"></option>
    <option value="Afrique"></option>
  </datalist>
</body>

</html>